.catalog {
  background-color: $background-light-grey;
}

.catalog__wrapper {
  @include wrapper;
  padding-top: 50px;
  padding-bottom: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
    padding-bottom: 90px;
  }

  @media (min-width: $desktop-width) {
    @include center;
    padding-top: 100px;
    padding-bottom: 120px;
    align-items: center;
    justify-content: space-between;
  }
}

.catalog__promo {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: $base-violet;
  margin-bottom: 4px;
  text-align: center;
  letter-spacing: 0.04em;
}

.catalog__title {
  @include margins;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.catalog__container {
  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.catalog__container-product {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
  }
}
