.catalog-sorting {
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }
}

.catalog-sorting__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  margin-right: 20px;
}

.catalog-sorting__select {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border: none;
  cursor: pointer;
  background-color: $background-light-grey;
  color: $base-violet;
  appearance: none;
  background-image: url("../../../img/icons/sorting-down.svg");
  background-repeat: no-repeat;
  background-position: 134px center;

  &:hover,
  &:focus,
  &:focus-visible {
    outline: none;
    background-color: $base-lighter-violet;
    background-image: url("../../../img/icons/sorting-up.svg");

    .catalog-sorting__option {
      background-color: $base-white;
      color: $base-black;
    }
  }

  @media (min-width: $tablet-width) {
    margin-right: 10px;
  }
}
