.catalog-sorting {
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }
}

.catalog-sorting__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  margin-right: 18px;
}

.catalog-sorting__select {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border: none;
  cursor: pointer;
  color: $base-violet;
  font-family: "Montserrat", "Arial", sans-serif;
  appearance: none;
  background: $background-light-grey url("../../../img/icons/sorting-down.svg") no-repeat 133px center;

  &:hover,
  &:focus,
  &:focus-visible {
    outline: none;
    background-color: $base-lighter-violet;
    background-image: url("../../../img/icons/sorting-up.svg");

    .catalog-sorting__option {
      background-color: $base-white;
      color: $base-black;
    }
  }
}
