.catalog-product {
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 30px;
  }
}

.catalog-product__list {
  @include list-style;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 349px);
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 317px);
  }
}

.catalog-product__item {
  min-height: 420px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background: $base-white;
  border-radius: 4px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 28px;
  }
}

.catalog-product__image {
  display: block;
  padding-bottom: 23px;

  @media (min-width: $tablet-width) {
    padding-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 30px;
  }
}

.catalog-product__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 10px;
  }
}

.catalog-product__link {
  display: block;
  text-decoration: none;
  color: $base-black;
}

.catalog-product__description {
  margin: 0;
  margin-bottom: 15px;
  width: 235px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    width: 290px;
  }

  @media (min-width: $desktop-width) {
    width: 257px;
  }
}

.catalog-product__buy-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;

  @media (min-width: $tablet-width) {
    width: 290px;
  }

  @media (min-width: $desktop-width) {
    width: 257px;
  }
}

.catalog-product__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 18px;
}

.catalog-product__button {
  font-size: 14px;
  line-height: 20px;
  height: 36px;
  width: 141px;
  padding-left: 25px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 16px;
    background-image: url("../../../img/icons/button-cart.svg");
    left: 20px;
  }
}

