.field-milk {
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-right: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 10px;
  }
}

.field-milk__title {
  margin-bottom: 23px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.field-milk__item {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.field-milk__label {
  padding-left: 34px;
  display: block;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;
    top: 0;
    border: 2px solid $base-grey;
    border-radius: 50%;
  }

  &::after {
    position: absolute;
    content: "";
    background-color: $base-white;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    top: 4px;
    left: 4px;
  }

  &:hover,
  &:focus,
  &:focus-visible {
    outline: none;

    &::before {
      border: 2px solid $base-violet;
    }

    &::after {
      background-color: rgba($color: $base-violet, $alpha : 0.25);
    }
  }
}

.field-milk__input:disabled + .field-milk__label {
  color: $base-grey;
  pointer-events: none;

  &::before {
    border: 2px solid $base-light-grey;
  }
}

.field-milk__input:checked:disabled + .field-milk__label {
  color: $base-grey;
  pointer-events: none;

  &::before {
    border: 2px solid $base-light-grey;
  }

  &::after {
    background-color: $base-light-grey;
  }
}

.field-milk__input:checked + .field-milk__label::before {
  border: 2px solid $base-violet;
}

.field-milk__input:checked + .field-milk__label::after {
  background-color: $base-violet;
}

