.field-country {
  @include margins;

  @media (min-width: $tablet-width) {
    margin-right: 34px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
  }
}

.field-country__title {
  margin-bottom: 19px;
  padding: 0;
}

.field-country__item {
  margin-bottom: 20px;
}

.field-country__label {
  padding-left: 54px;
  display: block;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 42px;
    height: 24px;
    left: 0;
    top: 0;
    background-color: $base-grey;
    border-radius: 12px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: 2px;
    top: 2px;
    background-color: $base-white;
    border-radius: 50%;
  }

  &:hover,
  &:focus,
  &:focus-visible {
    outline: none;

    &::before {
      border: 2px solid $base-light-violet;
      background-color: rgba($color: $base-violet, $alpha : 0.25);
    }
  }
}

.field-country__input:disabled + .field-country__label {
  color: $base-grey;
  pointer-events: none;

  &::before {
    background-color: $base-light-grey;
  }
}

.field-country__input:checked:disabled + .field-country__label {
  color: $base-grey;
  pointer-events: none;

  &::before {
    background-color: $base-light-grey;
  }

  &::after {
    background-color: $base-grey;
  }
}


.field-country__input:checked + .field-country__label::before {
  background-color: $base-violet;
}

.field-country__input:checked + .field-country__label::after {
  transform: translateX(18px);
}
