
.filter-form__container {
  @media (min-width: $tablet-width) {
    width: 728px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    width: 318px;
  }
}

.filter-form__group {
  border: none;
}

.filter-form__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.filter-form__list {
  @include list-style;
}

.filter-form__buttons {
  padding-top: 15px;
  padding-bottom: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding-top: 20px;
    padding-left: 180px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.filter-form__button {
  height: 45px;
  width: 160px;
  font-size: 13px;

  &--reset {
    margin-top: 24px;
    font-size: 14px;
    color: $base-violet;
    background-color: $base-white;

    @media (min-width: $tablet-width) {
      margin-top: 0;
      margin-left: 30px;
      font-size: 14px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 18px;
    }

    &:hover,
    &:focus,
    &:focus-visible,
    &:active,
    &:disabled {
      color: $base-white;
    }

    &:disabled {
      background-color: $base-light-grey;
      pointer-events: none;
    }
  }

  @media (min-width: $tablet-width) {
    height: 40px;
    width: 148px;
    font-size: 14px;
  }
}
