.pagination {
  padding-top: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding-top: 70px;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    padding-top: 60px;
  }
}

.pagination__link {
  display: block;
  min-height: 40px;
  min-width: 40px;
  border-radius: 4px;
  padding: 8px;
  background-color: $base-white;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: center;
  color: $base-violet;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;

  &--prev {
    background-image: url("../img/icons/pagination-prev.svg");

    @media (min-width: $tablet-width) {
      width: 140px;
      font-size: 14px;
    }
  }

  &--next {
    background-image: url("../img/icons/pagination-next.svg");

    @media (min-width: $tablet-width) {
      width: 140px;
      font-size: 14px;
      margin-right: -20px;
    }

    @media (min-width: $desktop-width) {
      margin-right: -22px;
      width: 148px;
    }
  }

  &--current {
    font-weight: 600;
    color: $base-black;
    background-color: transparent;
  }

  @media (min-width: $tablet-width) {
    background-image: none;
  }

  &:hover,
  &:focus,
  &:focus-visible {
    outline: none;
    background-color: $base-light-violet;
    color: $base-white;
  }

  &:active {
    background-color: $base-darker-violet;
    color: $base-white;
  }

  &--disabled {
    background-color: $base-light-grey;
    color: $base-white;
  }

  &--not-available {
    background-color: transparent;
    color: transparent;
    background-image: none;
  }
}

.pagination__link-text {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.pagination__list {
  @include list-style;
  display: flex;
  flex-wrap: wrap;
  width: 160px;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 165px;
  }

  @media (min-width: $desktop-width) {
    width: 160px;
  }
}
