.slider {
  position: relative;
}

.slider__list {
  @include list-style;
}

.slider__item {
  display: none;

  &--current {
    display: block;
  }

  &--flat-white {
    background: $background-flat-white;
  }

  &--lavender {
    background: $background-lavender-latte;
  }

  &--espresso {
    background: $background-espresso;
  }

  @media (min-width: $tablet-width) {
    &--flat-white {
      background: linear-gradient(to bottom, $background-flat-white 77%, $base-white 77%);
    }

    &--lavender {
      background: linear-gradient(to bottom, $background-lavender-latte 77%, $base-white 77%);
    }

    &--espresso {
      background: linear-gradient(to bottom, $background-espresso 77%, $base-white 77%);
    }
  }

  @media (min-width: $desktop-width) {
    &--flat-white {
      background: $background-flat-white;
    }

    &--lavender {
      background: $background-lavender-latte;
    }

    &--espresso {
      background: $background-espresso;
    }
  }
}

.slider__item-wrapper {
  padding-top: 20px;
  padding-bottom: 60px;
  height: 656px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: column-reverse;
    padding-top: 60px;
    padding-bottom: 0;
    height: 828px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-left: 6px;
    height: 714px;
    padding-top: 30px;
  }
}

.slider__img {
  display: block;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-top: 20px;
    margin-bottom: 0;
    width: 476px;
    height: 476px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 600px;
    height: 600px;
  }
}

.slider__item-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $desktop-width) {
    align-items: flex-start;
    padding-left: 30px;
    padding-top: 150px;
    justify-content: stretch;
  }
}

.slider__item-bage {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: $base-violet;
  text-align: center;
  margin-bottom: 4px;
}

.slider__item-title {
  letter-spacing: 0.02em;
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  color: $base-black;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 10px;
  width: 280px;

  @media (min-width: $tablet-width) {
    font-size: 56px;
    line-height: 80px;
    margin-bottom: 16px;
    width: 608px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.slider__item-info {
  margin: 0;
  text-align: center;
  margin-bottom: 20px;
  width: 270px;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 32px;
    width: 605px;

    br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-bottom: 40px;
  }
}

.slider__buy-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 230px;
}

.slider__item-price {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}

.slider__item-price-old {
  font-size: 16px;
  line-height: 32px;
  color: $base-violet;
}

.slider__item-button {
  min-height: 40px;
  text-decoration: none;
  padding: 8px 20px;
  width: 112px;
}

.slider__button {
  position: absolute;
  cursor: pointer;
  border: none;
  width: 20px;
  height: 656px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../../img/icons/arrow.svg");
  top: 0;

  &--back {
    left: 0;
  }

  &--forward {
    right: 0;
    transform: rotate(180deg);
  }

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 640px;
  }

  @media (min-width: $desktop-width) {
    height: 714px;
  }

  &:hover,
  &:focus,
  &:focus-visible {
    outline: none;
    background: url("../../../img/icons/arrow.svg") no-repeat center,
      linear-gradient(to right, $base-white 0%, transparent);
  }

  &:active {
    background: url("../../../img/icons/arrow.svg") no-repeat center,
      linear-gradient(to right, (rgba($color: $base-violet, $alpha: 0.25), rgba($color: $base-violet, $alpha: 0)));
  }

  &:disabled {
    pointer-events: none;
    background-image: url("../../../img/icons/arrow-disabled.svg");
  }
}

.slider__toggles {
  display: none;

  @media (min-width: $desktop-width) {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 43%;
    bottom: 60px;
    margin: 0;
    height: 24px;
    width: 202px;
  }
}

.slider__toggle {
  height: 4px;
  width: 62px;
  background-color: $base-white;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus,
  &:focus-visible {
    outline: none;
    background-color: rgba($color: $base-violet, $alpha : 0.25);
  }

  &--current,
  &:active {
    background-color: $base-violet;
  }
}

