.swiper {
  position: relative;
}

.swiper-wrapper {
  width: 100vw;
  height: 656px;

  @media (min-width: $tablet-width) {
    height: 828px;
  }

  @media (min-width: $desktop-width) {
    height: 714px;
  }
}

.swiper-slide {
  &--flat-white {
    background: $background-flat-white;
  }

  &--lavender {
    background: $background-lavender-latte;
  }

  &--espresso {
    background: $background-espresso;
  }

  @media (min-width: $tablet-width) {
    &--flat-white {
      background: linear-gradient(to bottom, $background-flat-white 77%, $base-white 77%);
    }

    &--lavender {
      background: linear-gradient(to bottom, $background-lavender-latte 77%, $base-white 77%);
    }

    &--espresso {
      background: linear-gradient(to bottom, $background-espresso 77%, $base-white 77%);
    }
  }

  @media (min-width: $desktop-width) {
    &--flat-white {
      background: $background-flat-white;
    }

    &--lavender {
      background: $background-lavender-latte;
    }

    &--espresso {
      background: $background-espresso;
    }
  }
}

.swiper-slide__wrapper {
  padding-top: 20px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  @media (min-width: $tablet-width) {
    flex-direction: column-reverse;
    padding-top: 60px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    @include center;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-left: 6px;
    padding-top: 30px;
  }
}

.swiper-slide__img {
  display: block;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-top: 20px;
    margin-bottom: 0;
    width: 476px;
    height: 476px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 600px;
    height: 600px;
  }
}

.swiper-slide__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  @media (min-width: $desktop-width) {
    align-items: flex-start;
    padding-left: 30px;
    padding-top: 150px;
    justify-content: stretch;
  }
}

.swiper-slide__bage {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: $base-violet;
  text-align: center;
  margin-bottom: 4px;
}

.swiper-slide__title {
  @include margins;
  letter-spacing: 0.02em;
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  color: $base-black;
  text-align: center;
  margin-bottom: 10px;
  width: 280px;

  @media (min-width: $tablet-width) {
    font-size: 56px;
    line-height: 80px;
    margin-bottom: 16px;
    width: 608px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.swiper-slide__info {
  margin: 0;
  text-align: center;
  margin-bottom: 20px;
  width: 270px;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 32px;
    width: 605px;

    br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-bottom: 40px;
  }
}

.swiper-slide__buy-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 230px;
  margin-top: auto;

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.swiper-slide__price {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}

.swiper-slide__price-old {
  font-size: 16px;
  line-height: 32px;
  color: $base-violet;
}

.swiper-slide__button {
  min-height: 40px;
  text-decoration: none;
  padding: 8px 20px;
  width: 112px;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  cursor: pointer;
  border: none;
  width: 20px;
  height: 656px;
  background: transparent url("../../../img/icons/arrow.svg") no-repeat center;
  top: 22px;

  &::after {
    display: none;
  }

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 640px;
  }

  @media (min-width: $desktop-width) {
    height: 714px;
  }

  &:hover,
  &:focus,
  &:focus-visible {
    outline: none;
    background: url("../../../img/icons/arrow.svg") no-repeat center,
      linear-gradient(to right, $base-white 0%, transparent);
  }

  &:active {
    background: url("../../../img/icons/arrow.svg") no-repeat center,
      linear-gradient(to right, (rgba($color: $base-violet, $alpha: 0.25), rgba($color: $base-violet, $alpha: 0)));
  }

  &:disabled {
    pointer-events: none;
    background-image: url("../../../img/icons/arrow-disabled.svg");
  }
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
  transform: rotate(180deg);
}

.swiper-pagination {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 202px;
  }
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 60px;
}

.swiper-pagination-bullet {
  height: 4px;
  width: 62px;
  background-color: $base-white;
  margin-left: 8px;
  border-radius: 0;
  opacity: 1;

  &:hover,
  &:focus,
  &:focus-visible {
    outline: none;
    background-color: rgba($color: $base-violet, $alpha : 0.25);
  }

  &:active {
    background-color: $base-violet;
  }

  &--active {
    background-color: $base-violet;

    &:hover,
    &:focus,
    &:focus-visible {
      background-color: $base-violet;
    }
  }
}
