.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: $base-white;
  background-color: $base-violet;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;
  border: none;
  padding: 0;
  cursor: pointer;

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: $base-light-violet;
    outline: none;
  }

  &:active {
    background-color: $base-darker-violet;
  }

  &:disabled {
    pointer-events: none;
    background-color: $base-grey;
  }
}
