.info-contacts {
  @include footer-padding;
  border-bottom: 1px solid $base-lighter-violet;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 10px;
  }
}

.info-contacts__title {
  color: $base-violet;
  margin: 0;
  letter-spacing: 0.02em;
}

.info-contacts__text {
  margin-top: 20px;
  margin-bottom: 16px;
  padding-left: 19px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    height: 16px;
    width: 13px;
    left: 0;
    top: 4px;
    background: url("../../img/icons/adress.svg") no-repeat center;
  }
}

.info-contacts__phone {
  text-decoration: none;
  color: $base-black;
  padding-left: 19px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    height: 16px;
    width: 13px;
    left: 0;
    top: 4px;
    background: url("../../img/icons/Phone.svg") no-repeat center;
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }
}
