.page-footer__wrapper {
  @media (min-width: $desktop-width) {
    @include center;
    padding: 40px;
  }
}

.page-footer__case {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 318px 1fr;
    gap: 30px;
  }
}

.page-footer__social-container {
  @include wrapper;
  @include footer-padding;
  height: 80px;
  border-bottom: 1px solid $base-lighter-violet;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    height: 90px;
    padding-top: 42px;
    padding-bottom: 12px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    flex-direction: column;
    height: 155px;
  }
}

.page-footer__img {
  @media (min-width: $tablet-width) {
    height: 36px;
    width: 170px;
  }
}

.page-footer__logo-text {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    padding-top: 5px;
  }
}

.page-footer__social {
  @include list-style;
  display: flex;
  width: 160px;
  justify-content: space-between;
  align-items: center;
}

.page-footer__info {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 222px);
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 318px);
  }
}
