.social__item {
  width: 40px;
  height: 40px;
}

.social__icon {
  fill: $base-grey;
}

.social__link {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;

  &:hover,
  &:focus,
  &:focus-visible {
    background-color: $base-lighter-violet;
    outline: none;
  }

  &:active {
    background-color: rgba($color: $base-violet, $alpha : 0.25);
  }
}

.social__link:hover .social__icon,
.social__link:focus .social__icon,
.social__link:focus-visible .social__icon {
  fill: $base-violet;
}

.social__link:active .social__icon {
  fill: $base-violet;
}
