@mixin list-style() {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin wrapper() {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $desktop-width) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@mixin margins() {
  margin: 0;
  padding: 0;
}

@mixin center() {
  margin: 0 auto;
  width: $desktop-width;
}

@mixin footer-padding() {
  padding: 20px;
}
