
//Colors
$base-white: #ffffff;
$base-grey:#bdbdbd;
$base-black: #333333;
$base-violet:#7859cf;
$base-lighter-violet:#f0ebff;
$background-light-grey:#f8f8f8;
$background-flat-white: #f3ebe1;
$background-lavender-latte: #eae6fc;
$background-espresso: #e5e6e8;
$base-light-grey:#e2e2e2;
$base-light-violet:#9070ec;
$base-darker-violet:#593cac;

//Viewports
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
