.main-header {
  @media (min-width: $desktop-width) {
    width: 1440px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 60px;
  align-items: center;

  @media (min-width: $tablet-width) {
    min-height: 80px;
  }
}
