.main-nav {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    padding-right: 20px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.main-nav__list {
  @include list-style;
}

.main-nav__toggle {
  width: 60px;
  height: 60px;
  cursor: pointer;
  border: none;
  background-color: $base-white;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

//кнопка при закрытом меню
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 24px;
  right: 20px;
  height: 1.5px;
  width: 16px;
  background-color: $base-black;
  box-shadow: 0 5px 0 0 $base-black, 0 10px 0 0 $base-black;
}

.main-nav--closed .main-nav__toggle {
  &:active {
    background-color: $base-lighter-violet;
  }
}

//список меню скрыт
.main-nav--closed .site-list {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

//кнока при открытом меню
.main-nav--opened .main-nav__toggle {
  top: 24px;
  right: 24px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 29px;
    right: 22px;
    width: 14px;
    height: 1.5px;
    background-color: $base-black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

//список открыт
.main-nav--opened .site-list {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    background-color: $base-white;
    left: 0;
    top: 60px;
    width: 100%;
    z-index: 10;
  }
}

//меню без js
.main-nav--nojs {
  @media (max-width: $mobile-width-only) {
    width: 100%;
  }
}

//кнопка скрыта без js
.main-nav--nojs .main-nav__toggle {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

//список открыт без js
.main-nav--nojs .site-list {
  @media (max-width: $mobile-width-only) {
    display: block;
    background-color: $base-white;
    width: 100%;
  }
}

//позиционирование списка логина и корзины без js
.main-nav--nojs .user-list {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    top: 0;
    right: 60px;
  }
}
