.site-list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    justify-content: space-between;
    margin-right: 60px;
    min-height: 80px;
  }

  @media (min-width: $desktop-width) {
    width: 460px;
    margin-right: 148px;
    justify-content: flex-start;
  }
}

.site-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 57px;
  border-top: 1px solid $base-lighter-violet;

  &:last-child {
    border-bottom: 1px solid $base-lighter-violet;
    margin-right: 0;
  }

  @media (min-width: $tablet-width) {
    border: none;

    &:last-child {
      border-bottom: none;
    }

    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: $base-violet;
      }
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 22px;
  }
}

.site-list__link {
  text-decoration: none;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: $base-black;
  text-transform: uppercase;
  cursor: pointer;
  padding: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  &:active {
    background-color: $base-lighter-violet;
  }

  @media (min-width: $tablet-width) {
    height: 80px;

    &:hover,
    &:active,
    &:focus,
    &:focus-visible {
      outline: none;
      color: $base-violet;
    }

    &:active {
      background-color: $base-lighter-violet;
    }

    &--active {
      color: $base-violet;
    }
  }
}
