.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    width: 273px;
  }
}

.user-list__item {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 130px;
  }
}

.user-list__link {
  display: flex;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: $base-black;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  height: 60px;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    height: 80px;
  }

  &:hover,
  &:active,
  &:focus,
  &:focus-visible {
    outline: none;
    color: $base-violet;
  }

  &:active {
    color: $base-violet;
    background-color: $base-lighter-violet;

    .user-list__icon {
      fill: $base-violet;
    }
  }
}

.user-list__name {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    padding-left: 8px;
  }
}
